@model IEnumerable<MVCProject.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Main Page</h1>

<h2>These are all the Clients</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Afm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Afm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

            @*
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
            </td>
            *@
        </tr>
}
    </tbody>
</table>
