@model IEnumerable<MVCProject.Models.Bill>

@{
    ViewData["Title"] = "Clients Bill Information";
}

<h1>Clients View Bill Information</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Costs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumberNavigation)
                @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Costs) Euro
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberNavigation.PhoneNumber)
                    @*@Html.DisplayFor(modelItem => item.PhoneNumber)*@

            </td>
            @*
            <td>
                <a asp-action="Edit" asp-route-id="@item.BillId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BillId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillId">Delete</a>
            </td>
            *@
            
        </tr>
}
    </tbody>
</table>
